@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Shadows+Into+Light&display=swap');

[class*="col-"].gris {
    background-color: grey;
    border:solid 1px white;
    padding-top: 15px;
    padding-bottom: 15px;
}

.centre{
    text-align : center;
}

.centre-rouge{
    text-align : center;
    color:red;
}

.centre-souligne{
    text-align : center;
    text-decoration:underline;
}

.no-padding > [class*='col-'] {
padding-right:0;
padding-left:0;
}

.container-fluid {
    padding: 0px;
}

.avertissement {
   color:#C610BB;
   text-align:center;
   font-size:large;
   font-weight:bold;
   font-variant:small-caps;
   font-family : arial;
}

.attention {
   color:red;
   
   font-size:large;
   font-weight:bold;
   font-variant:small-caps;
   font-family : arial;
}
.gras {
   
   font-weight:bold;
   
   font-family : arial;
}

.titre_carte_trajet {
    text-decoration : underline;
}

.jumbotron-perso{
    background-image:url(https://www.cambooth.net/wp-content/uploads/2014/11/1926_USHighways_1070x600.jpg)
}

.titre-site{
    background-color:#fff2e6;
    margin:20px;
    opacity:0.8;
    text-align:center;
    font-weight:bold;
    padding-right: 100px;
    padding-top:10px;
    padding-bottom:10px;
    padding-right:10px;
}




